Generate inputs, data etc for d3 learning exercises

Need to run 

	python -m http.server 8000

from local folder, in order to serve the web pages (rather than just load local files, which chrome sometimes prevents)


Then can access at localhost:8000

In [2]:
import json
import pandas as pd
import numpy as np
import csv

In [5]:
np.random.randint(100, size=15).reshape(3, 5)

array([[26, 46, 45,  7, 55],
       [34, 58, 16, 37, 72],
       [14,  4, 92, 11, 71]])

In [18]:
df = pd.DataFrame(np.random.randint(100, size=15).reshape(3, 5), 
             index=['a', 'b', 'c'], columns = ['mon', 'tue', 'wed', 'thu', 'fri'])

In [19]:
df.to_json("test.json")

In [20]:
df1 = pd.read_json("test.json")

In [21]:
df1

   fri  mon  thu  tue  wed
a   86   97    5   13    9
b   71   18   14   15    0
c    8   12   16   94   63

In [25]:
with open("test.json") as f:
    d1 = json.load(f)

In [26]:
d1

{'fri': {'a': 86, 'b': 71, 'c': 8},
 'mon': {'a': 97, 'b': 18, 'c': 12},
 'thu': {'a': 5, 'b': 14, 'c': 16},
 'tue': {'a': 13, 'b': 15, 'c': 94},
 'wed': {'a': 9, 'b': 0, 'c': 63}}

In [32]:
d2 = [d1[x] for x in d1]
d2

[{'a': 97, 'b': 18, 'c': 12},
 {'a': 13, 'b': 15, 'c': 94},
 {'a': 9, 'b': 0, 'c': 63},
 {'a': 5, 'b': 14, 'c': 16},
 {'a': 86, 'b': 71, 'c': 8}]

In [35]:
for i, day in enumerate(list(d1.keys())):
    d2[i]['day'] = day
d2

[{'a': 97, 'b': 18, 'c': 12, 'day': 'mon'},
 {'a': 13, 'b': 15, 'c': 94, 'day': 'tue'},
 {'a': 9, 'b': 0, 'c': 63, 'day': 'wed'},
 {'a': 5, 'b': 14, 'c': 16, 'day': 'thu'},
 {'a': 86, 'b': 71, 'c': 8, 'day': 'fri'}]

In [36]:
with open("test1.json", "w") as f:
    json.dump(d2, f)